.add-pain-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: palevioletred;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-pain-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* リスト全体 */
.pain-lists {
  list-style-type: none; /* リストの点を消す */
  padding: 0;
}

/* 各リスト項目 */
.pain-list {
  margin-bottom: 20px; /* リスト項目間の余白 */
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 5px; /* 角丸 */
  padding: 10px;
}

/* ヘッダー部分 */
.pain-header {
  margin-bottom: 10px; /* ヘッダー部分とボディ部分の間の余白 */
}

/* ボディ部分 */
.pain-body {
  margin-bottom: 10px; /* ボディ部分とフッター部分の間の余白 */
}

/* レベル表示 */
.pain-level {
  font-size: 18px; /* フォントサイズを大きくする */
  font-weight: bold; /* フォントの太さを太くする */
}

/* ボタン部分 */
.pain-actions {
  margin-top: 10px; /* ボタン部分と他の要素の間の余白 */
}

/* 編集と削除ボタン */
.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}